#a{
    width: 100px;
    background-color:green ;
}
#b{
    width: 100px;
    background-color: gainsboro;
}
#c{
    width: 100px;
    background-color:ghostwhite ;
}
#d{
    width: 100px;
    background-color:goldenrod ;
}
#e{
    width: 100px;
    background-color:gold ;
}
#f{
    width: 100px;
    background-color: gray;
}
#g{
    width: 100px;
    background-color:greenyellow ;
}
#h{
    width: 100px;
    background-color:white ;
}
#i{
    width: 100px;
    background-color: white;
}
#j{
    width: 100px;
    background-color: whitesmoke;
}