p#1{
    color: #111111;
    background-color: #111111;
}

p#2{
    color: #685178;
    background-color:#985696 ;
}
p#3{
    color: #698559;
    background-color:#666666 ;
}
p#4{
    color: #333; ;
    background-color:#222 ;
}
p#5{
    color: #444;
    background-color: #222;
}
p#6{
    color: #999;
    background-color: #111;
}
p#7{
    color: #555;
    background-color:#555666 ;
}
p#8{
    color: #758578;
    background-color: #668588;
}
p#9{
    color:#484848 ;
    background-color: #121212;
}
p#10{
    color:#909090 ;
    background-color:#455445 ;
}